{% extends 'forexaccess/Base.html' %}
{% load static %}
 {% block content %}
     <br>
     <br>
        <div class="main-container">


            <section>
                <div class="container">
                    <div class="row justify-content-center">
                        <br>
                    <h2 class="display-4">About Forex Access</h2>
                        <br>
                    </div>
                    <div class="row text-center section-intro">
                        <div class="col-12 col-md-6 col-lg-5 text-center text-md-left">
                            <h5 class="text-green">Company Profile</h5>
                            <p class="text-justify">ForexAccess is a forex and CFD broker that provides trading solutions sophisticated enough for veteran traders, yet simple enough for the forex novice.</p>
                             <p class="text-justify">
                               ForexAccess assists retail and institutional investors in using forex and other instruments as an asset class and part of their investment portfolio.
                            <p>At Forex Access, we strive to offer the best trading platforms with access to lowest available pricing
                            dependable trading platform, swift execution and world class client support. Forex Access offers direct access to multiple destinations of liquidity in the forex markets without the usual burdens of a deal desk that had previously been unavailable to the retail investor</p>
                             </p>
                        </div>
                         <div class=" col-md-6  text-center text-md-right section-intro">
                            <figure class="figure">
                                <img alt="Image" src="{% static 'forex_access/img/about-forex.jpg' %}" class="figure-image img-fluid rounded" />
                            </figure>
                              <blockquote class="blockquote">
                                <footer class="blockquote-footer title-decorative">
                                    Muhammad Auwwal, CEO
                                </footer>
                            </blockquote>
                        </div>
                        <!--end of col-->
                        <div class="row text-center section-intro col-lg-12">
                            <div class=" col-md-8 col-lg-12" >
                                <h5 class="text-green text-left">What We Do</h5>
                                <p class="text-justify">Forexaccess caters for a growing client base of private and institutional traders, 24 hours a day, 7 days a week, by providing specialized trading services in Nigeria and over the world. We are committed to providing our clients and partners with the most comprehensive and competitive trading solutions in the industry, delivering tighter spreads, excellent liquidity, the highest level of customer service and technological innovation.
                                <p class="text-justify">Through our in-house Educational department, we train and educate both new and experienced traders to become better informed traders by offering premium, daily technical analysis, economic reports developed by a team of professional experts with extensive Forex industry experience so that our clients will be as successful as possible.</p>
                                <p class="text-justify">To further our commitment to education, our website features premium video tutorials to help beginner traders. The tutorials range from basic trading techniques, technical analysis and fundamental analysis, to the types of risk and money management required to become a successful trader. You can easily apply the lessons to the real time Forex market and trade like a professional in no-time.</p>
                                <p class="text-justify">Forexaccess also offers world-class business partnership solutions for financial institutions, brokers and private investors through our Affiliate and Introducing Broker programs. Partnership solutions can be customized according to the partner’s business strategy, with flexible income sharing plans and other value-added support features.</p>
                            </div>
                        </div>
                        <div class="row text-center section-intro col-lg-12">
                            <div class="col-md-8 col-lg-12">
                            <h5 class="text-green text-left">Why Choose Forex Access</h5>
                           <ol class="list-group ">
                               <li class="list-group-item d-flex text-justify">We provide our clients with different leverage levels that are reasonable and which we can cover for different accounts, account balances and trading instruments. </li>
                               <li class="list-group-item text-justify">We keep client funds and company money separate. Our cash flows are organized in such a way that company expenditure cannot even be processed from accounts with client money</li>
                               <li class="list-group-item text-justify">We have an extensive range of internal policies and procedures to ensure high standards in relation to our business processes and staff activity</li>
                               <li class="list-group-item text-justify">We offer realistic promos, bonuses and IB commissions that are fully sourced from company funds not clients investments</li>
                           </ol>
                                </div>
                        </div>
                    </div>
                    <!--end of row-->
                </div>
                <!--end of container-->
            </section>
        </div>
 {% endblock %}