{% extends 'forexaccess/Base.html' %}
{% load static %}
{% block content %}
        <div class="main-container">
            <section>
                <div class="container">
                    <div class="row justify-content-center text-center section-intro">
                        <div class="col-12 col-md-9 col-lg-8">
                            <span class="title-decorative">Forex Access Accounts</span>
                            <h2 class="display-4">An Account for all occasions</h2>
                            <span class="lead">All our Account Types gives you free access to our trading tools and  Education Contents.</span>

                        </div>
                        <!--end of col-->
                    </div>
                    <!--end of row-->
                    <div class="row justify-content-center">
                        <div class="col">
                            <table class="table table-bordered table-responsive pricing">
                                <thead>
                                    <tr>
                                        <th scope="col"><h5>Account Types</h5></th>
                                        <th scope="col">
                                            <h5>Standard ECN</h5>
                                        </th>
                                        <th scope="col">
                                            <h5>Professional ECN</h5>
                                        </th>
                                        <th scope="col">
                                            <h5>VIP ECN</h5>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <th scope="row">Minimum Deposit</th>
                                        <td>
                                            <span class="display-4">$500</span>
                                        </td>
                                        <td>
                                            <span class="display-4">$5000</span>
                                        </td>
                                        <td>
                                            <span class="display-4">$20,000</span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th scope="row"> Spread Starting From </th>
                                        <td><i class="icon-check text">1.8 pips</i>
                                        </td>
                                        <td><i class="icon-check text">1.3 pips</i>
                                        </td>
                                        <td><i class="icon-check text">0.6 pips</i>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th scope="row" class="text-right">Leverage</th>
                                        <td>Up to 400</td>
                                        <td>Up to 400</td>
                                        <td>Up to 400</td>
                                    </tr>
                                    <tr>
                                        <th scope="row" class="text-right">Support</th>
                                        <td><i class="icon-check text">&#10003;</i>
                                        </td>
                                        <td><i class="icon-check text">&#10003;</i>
                                        </td>
                                        <td><i class="icon-check text">&#10003;</i>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th scope="row" class="text-right">Min.Trade Size</th>
                                        <td><i class="icon-check" >0.01 lots</i>
                                        </td>
                                        <td><i class="icon-check text">0.01 lots</i>
                                        </td>
                                        <td><i class="icon-check text">0.1 lots </i>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th scope="row" class="text-right">Maximum Number Of Position</th>
                                        <td><i class="icon-circle-with-cross text">No limits</i>
                                        </td>
                                        <td><i class="icon-check text">No Limits</i>
                                        </td>
                                        <td><i class="icon-check text">No Limits</i>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th scope="row" class="text-right">Traders Room</th>
                                        <td><i class="icon-circle-with-cross text">&#10003;</i>
                                        </td>
                                        <td><i class="icon-circle-with-cross text">&#10003;</i>
                                        </td>
                                        <td><i class="icon-check text">&#10003;</i>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th scope="row" class="text-right">Commission</th>
                                        <td><i class="icon-circle-with-cross text">$0</i>
                                        </td>
                                        <td><i class="icon-circle-with-cross text">0$</i>
                                        </td>
                                        <td><i class="icon-check text">$7</i>
                                        </td>
                                    </tr>

                                </tbody>
                            </table>
                        </div>
                        <!--end of col-->
                        <hr>
                    </div>
                    <!--end of row-->
                    <div class="row section-outro justify-content-center mb-5">
                        <div class="col-auto">
                            <h4>Hear it from our satisfied customers</h4>
                        </div>
                        <!--end of col-->
                    </div>
                    <!--end of row-->
                    <ul class="row feature-list justify-content-center">

                        <li class="col-12 col-md-6 col-lg-5">
                            <div class="media">
                                <img alt="Image" src="{% static 'forex_access/img/avatar-female-3.jpg' %}" class="avatar" />
                                <div class="media-body">
                                    <p class="mb-1">
                                        “Let’s get one thing straight, this theme’s a straight-up winner. No posers here, just beautiful design and code.”
                                    </p>
                                    <small>Rukkayya Umar</small>
                                </div>
                            </div>
                        </li>
                        <!--end of col-->

                        <li class="col-12 col-md-6 col-lg-5">
                            <div class="media">
                                <img alt="Image" src="{% static 'forex_access/img/avatar-male-3.jpg' %}" class="avatar" />
                                <div class="media-body">
                                    <p class="mb-1">
                                        “With Wingman, we were able to turn out a stunning landing page and compelling MVP for our SaaS web app in no time.”
                                    </p>
                                    <small>Zakari Isa</small>
                                </div>
                            </div>
                        </li>
                        <!--end of col-->

                        <li class="col-12 col-md-6 col-lg-5">
                            <div class="media">
                                <img alt="Image" src="{% static 'forex_access/img/avatar-male-4.jpg' %}" class="avatar" />
                                <div class="media-body">
                                    <p class="mb-1">
                                        “Not only has it allowed us to get our product into the hands of customers quickly - it’s also saved us a ton of money.”
                                    </p>
                                    <small>Tosin Mike</small>
                                </div>
                            </div>
                        </li>
                        <!--end of col-->

                        <li class="col-12 col-md-6 col-lg-5">
                            <div class="media">
                                <img alt="Image" src="{% static 'forex_access/img/avatar-female-1.jpg' %}" class="avatar" />
                                <div class="media-body">
                                    <p class="mb-1">
                                        “Using other templates just doesn’t feel the same anymore - none have the polish and intuitive design of Wingman”
                                    </p>
                                    <small>Mariana Jose</small>
                                </div>
                            </div>
                        </li>
                        <!--end of col-->

                    </ul>
                    <!--end of row-->
                </div>
                <!--end of container-->
            </section>
            <!--end of section-->
            <section>
                <div class="container">
                    <div class="row justify-content-center section-intro">
                        <div class="col-auto">
                            <h2 class="h1">Frequently Asked Questions</h2>
                        </div>
                        <!--end of col-->
                    </div>
                    <!--end of row-->

                    <ul class="row feature-list feature-list-sm justify-content-center">
                        {% for f in faq %}
                        <li class="col-12 col-md-6 col-lg-5">
                            <div class="card">
                                <div class="card-body">
                                    <h6> {{ f.question }}</h6>
                                    <p>
                                        {{ f.Ans }}
                                    </p>
                                </div>
                            </div>
                        </li>
                        {% endfor %}
                    </ul>

                    <!--end of row-->
                    <div class="row justify-content-center text-center section-outro">
                        <div class="col-lg-4 col-md-5">
                            <h6>Did we miss something?</h6>
                            <p>Feel free to drop us a line with any fruther questions. One of our support team will get back to you ASAP.</p>
                            <a href="#">Get in touch &rsaquo;</a>
                        </div>
                        <!--end of col-->
                    </div>
                    <!--end of row-->
                </div>
                <!--end of container-->
            </section>
{% endblock %}