 {% extends 'forexaccess/Base.html' %}
 {% load static %}
 {% block content %}
        <div class="main-container">

            <section class="bg-white space-sm">
                <div class="container">
                    <div class="row">
                        <div class="col">
                            <br>
                            <br>
                            <h1>Deposit And withdrawal</h1>

                        </div>
                        <!--end of col-->
                    </div>
                    <!--end of row-->
                </div>
                <!--end of container-->
            </section>
            <!--end of section-->
            <section>
                <div class="container">
                    <div class="row justify-content-between">
                        <div class="col-12 col-md-8 col-lg-7">
                            <article>
                                <h5>Forex Access Deposit And Withdrawal</h5>
                                <p>
                                    ForexAccess provides you with the easiest and super secure means to perform fast online deposits and withdrawals. We support the three major currencies of USD, EURO and GBP and a wide range of deposit/withdrawal methods such as bank transfers, credit/debit cards, Skrill, Neteller, Payoneer, Perfect money
                                </p>

                                <h5>To deposit funds on the Forex Access Trading Account you should:</h5>
                                <ul>
                                    <li>
                                       Login to myForexAccess – Go to page “Deposit/ Withdrawal” – Fill Deposit forex form according to the instructions.
                                    </li>
                                    <li>
                                        All transfers via electronic payment systems are automatic. Transferred funds become available for trading at once.
                                    </li>
                                    <li>
                                        Bank transfers are made within 24 hours from the moment of receipt of funds to the bank account of the Company
                                    </li>
                                </ul>
                                <p>Deposit Time: Instant Execution between 9:00 to 00:00 Server time (GMT+1) every business day.
                                    Deposit Fees: ForexAccess broker does not apply any deposit fees, all fees are made by card processor or by electronic payment systems.
                                    ForexAccess recovers all fees for deposits of $500 or above (except for a Bank transfer)</p>
                                <p>ForexAccess supports deposits and withdrawals in all the major currencies and accepts a variety of different payment options including bank wires, credit/debit cards, WebMoney, Perfect money. By listening to you and evaluating your needs we are constantly researching and assessing new deposit methods to add to your options.</p>
                                <h5>What is the Minimum deposit amount</h5>
                                <ul>
                                    <li>
                                        Forex minimum deposit allows to open a trading forex account with ForexAccess and it is $500 or the equivalent amount in your base currency.
                                    </li>
                                </ul>
                                <h5>Are there any fees?</h5>
                                <ul>
                                <li>ForexAccess does not charge any fees for the external transfer of funds to your forex account except for credit/debit card deposits, at which point a 2.5% charge is applied to cover a portion of the total charges made by the card processors involved in the transactions. For all other payment methods, we do not apply fees and we will credit your forex account with the net amount received. Please note that you may be charged for transferring funds using an external method unrelated to ForexAccess.</li>
                                </ul>
                                <h5>How do I deposit forex? Is it easy?</h5>
                                <ul>
                                    <li>Just login to myForexAccess and you will see a variety of forex deposit methods for you to use. If you require help in deciding which method to use then you can contact our customer support team by email, phone or live chat. They are available 24/5!</li>
                                </ul>
                                <h5>Are my transactions safe?</h5>
                                <ul>
                                    <li>Yes, ForexAccess ensures safety, security and reliability at all times. Using advanced encryption technology to ensure privacy and security over the Internet. All communication is encrypted using SSL technology (Secure Socket Layer). Passwords are encoded; making sure that only you know your password. All personal information is completely confidential; we do not share your information with any third parties</li>
                                </ul>
                                <h5>Are my funds secured?</h5>
                                <ul>
                                    <li>Your funds are held in segregated accounts, specially designated as “Clients Accounts”, with a number of investment grade European Banks which are closely monitored. ForexAccess has similar capital adequacy requirements to Banks.</li>
                                </ul>
                            </article>
                            <hr>
                            <small>
                              INVESTING IN FOREXACESS DERIVATIVE PRODUCTS CARRIES SIGNIFICANT RISKS AND IS NOT SUITABLE FOR ALL INVESTORS. YOU COULD LOSE MORE THAN YOUR DEPOSITS. YOU DO NOT OWN, OR HAVE ANY INTEREST IN, THE UNDERLYING ASSETS. WE RECOMMEND THAT YOU SEEK INDEPENDENT ADVICE AND ENSURE YOU FULLY UNDERSTAND THE RISKS INVOLVED BEFORE TRADING. SPREADS MAY WIDEN DEPENDING ON LIQUIDITY AND MARKET VOLATILITY. THE INFORMATIONS ON OUR WEBSITE, MARKETING AND PUBLICITY MATERIALS ARE PREPARED WITHOUT CONSIDERING YOUR OBJECTIVES, FINANCIAL SITUATION OR NEEDS. CONSEQUENTLY, YOU SHOULD CONSIDER THE INFORMATION IN LIGHT OF YOUR OBJECTIVES, FINANCIAL SITUATION AND NEEDS
                            </small>
                            <hr>
                            <h5 class="mb-4">Open a Live account Now</h5>
                            <form class="d-flex justify-content-between align-items-center">
                                <div>
                                    <a href="{% url 'register' %}" class="btn btn-success">Open Live Account</a>
                                </div>

                            </form>
                        </div>
                        <!--end of col-->
                        <div class="col-12 col-md-4">
                            <div class="card">
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item">
                                        <div class="d-flex justify-content-between">
                                            <div><i class="icon-tools mr-1"></i> Department</div>
                                            <span>Engineering</span>
                                        </div>
                                    </li>
                                    <li class="list-group-item">
                                        <div class="d-flex justify-content-between">
                                            <div><i class="icon-home mr-1"></i> Location</div>
                                            <span>Melbourne, AU</span>
                                        </div>
                                    </li>
                                    <li class="list-group-item">
                                        <div class="d-flex justify-content-between">
                                            <div><i class="icon-stopwatch mr-1"></i> Basis</div>
                                            <span>Full time</span>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <div class="card">
                                <div class="card-header d-flex justify-content-between">
                                    <div>
                                        <span class="h6">Development</span>
                                        <span class="badge badge-secondary">6</span>
                                    </div>
                                    <a href="#">View all &rsaquo;</a>
                                </div>
                                <div class="card-body">
                                    <ul class="list-unstyled list-spacing-sm">
                                        <li>
                                            <i class="icon-text-document text-muted mr-1"></i>
                                            <a href="#">Setting up API end-points</a>
                                        </li>
                                        <li>
                                            <i class="icon-text-document text-muted mr-1"></i>
                                            <a href="#">Importing contacts via CSV</a>
                                        </li>
                                        <li>
                                            <i class="icon-text-document text-muted mr-1"></i>
                                            <a href="#">Integrating your Gulp workflow</a>
                                        </li>
                                        <li>
                                            <i class="icon-text-document text-muted mr-1"></i>
                                            <a href="#">Forking a repo</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <!--end of card-->
                            <div class="card">
                                <div class="card-header">
                                    <span class="h6">Categories</span>
                                </div>
                                <div class="list-group list-group-flush">

                                    <a class="list-group-item d-flex justify-content-between" href="#">
                                        <div>
                                            <i class="icon-area-graph mr-1"></i>
                                            <span>Analytics</span>
                                        </div>
                                        <div>
                                            <i class="icon-chevron-right"></i>
                                        </div>
                                    </a>

                                    <a class="list-group-item d-flex justify-content-between" href="#">
                                        <div>
                                            <i class="icon-power-plug mr-1"></i>
                                            <span>API Integration</span>
                                        </div>
                                        <div>
                                            <i class="icon-chevron-right"></i>
                                        </div>
                                    </a>

                                    <a class="list-group-item d-flex justify-content-between" href="#">
                                        <div>
                                            <i class="icon-credit-card mr-1"></i>
                                            <span>Billing</span>
                                        </div>
                                        <div>
                                            <i class="icon-chevron-right"></i>
                                        </div>
                                    </a>

                                    <a class="list-group-item d-flex justify-content-between" href="#">
                                        <div>
                                            <i class="icon-code mr-1"></i>
                                            <span>Development</span>
                                        </div>
                                        <div>
                                            <i class="icon-chevron-right"></i>
                                        </div>
                                    </a>

                                    <a class="list-group-item d-flex justify-content-between" href="#">
                                        <div>
                                            <i class="icon-shield mr-1"></i>
                                            <span>Security</span>
                                        </div>
                                        <div>
                                            <i class="icon-chevron-right"></i>
                                        </div>
                                    </a>

                                    <a class="list-group-item d-flex justify-content-between" href="#">
                                        <div>
                                            <i class="icon-folder mr-1"></i>
                                            <span>Storage</span>
                                        </div>
                                        <div>
                                            <i class="icon-chevron-right"></i>
                                        </div>
                                    </a>

                                </div>
                            </div>
                        </div>
                        <!--end of col-->
                    </div>
                    <!--end of row-->
                </div>
                <!--end of container-->
            </section>
      {% endblock %}