{% extends 'forexaccess/Base.html' %}
{% load static %}
{% block content %}
        <div class="main-container">
            <br>
            <section class="flush-with-above">
              <div class="row mb-4 justify-content-center text-center">
                        <div class="col-12 col-md-10 col-lg-9">
                            <h1 class="display-4">Education.</h1>

                            <h5 class="text lead">Start Right, Learn What It takes to trade Successfully rather than just trying your luck.</h5>
                        </div>
                        <!--end of col-->
                    </div>
                <div class="container">
                    <ul class="row mb-3 feature-list feature-list-sm">

                        <li class="col-12 col-md-6 col-lg-4">
                            <div class="card card-lg">

                                <div class="card-body">
                                    <a href="#">
                                        <h4 class="card-title mb-3">Trading For Beginners</h4>
                                    </a>
                                    <p class="card-text">An introduction to trading online looking at trading forex, CFDs with technical analysis</p>
                                </div>
                                <div class="card-footer card-footer-borderless">
                                    <div class="media blog-post-author">
                                        <img alt="Image" src="{% static 'forex_access/img/beginners.png' %}" class="avatar avatar-xs" />
                                        <div class="media-body">

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>

                        <li class="col-12 col-md-6 col-lg-4">
                            <div class="card card-lg">
                                <div class="card-body">
                                    <a href="#">
                                        <h4 class="card-title mb-3">Economic Indicators</h4>
                                    </a>
                                    <p class="card-text">Find out what announcement can impact the economic health of an economy. This will help you become a more informed trader.</p>
                                </div>
                                <div class="card-footer card-footer-borderless">
                                    <div class="media blog-post-author">
                                        <img alt="Image" src="{% static 'forex_access/img/eindicator.png' %}" class="avatar avatar-xs" />
                                        <div class="media-body">

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>

                        <li class="col-12 col-md-6 col-lg-4">
                            <div class="card card-lg">
                                <div class="card-body">
                                    <a href="#">
                                        <h4 class="card-title mb-3">Keep Good Records</h4>
                                    </a>
                                    <p class="card-text">A trading journal is an effective way to learn from both losses and successes in forex trading.  </p>
                                </div>
                                <div class="card-footer card-footer-borderless">
                                    <div class="media blog-post-author">
                                        <img alt="Image" src="{% static 'forex_access/img/records_logo.png' %}" class="avatar avatar-xs" />
                                        <div class="media-body">

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>

                        <li class="col-12 col-md-6 col-lg-4">
                            <div class="card card-lg">

                                <div class="card-body">
                                    <a href="#">
                                        <h4 class="card-title mb-3">Forex Ebook</h4>
                                    </a>
                                    <p class="card-text">Forex Access is pleased to offer a FREE eBook “Forex Trading Strategies”. Learn more and start trading.</p>
                                </div>
                                <div class="card-footer card-footer-borderless">
                                    <div class="media blog-post-author">
                                        <img alt="Image" src="assets/img/avatar-male-3.jpg" class="avatar avatar-xs" />
                                        <div class="media-body">

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>

                        <li class="col-12 col-md-6 col-lg-4">
                            <div class="card card-lg">

                                <div class="card-body">
                                    <a href="#">
                                        <h4 class="card-title mb-3">Keep Charts Clean</h4>
                                    </a>
                                    <p class="card-text">Once a forex trader has opened an account, it may be tempting to take advantage of all the technical analysis tools offered by the trading platform.</p>
                                </div>
                                <div class="card-footer card-footer-borderless">
                                    <div class="media blog-post-author">
                                        <img alt="Image" src="assets/img/avatar-female-3.jpg" class="avatar avatar-xs" />
                                        <div class="media-body">

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>

                        <li class="col-12 col-md-6 col-lg-4">
                            <div class="card card-lg">
                                <div class="card-body">
                                    <a href="#">
                                        <h4 class="card-title mb-3">Navigating compliance for startups</h4>
                                    </a>
                                    <p class="card-text">Thoughts from our business manager</p>
                                </div>
                                <div class="card-footer card-footer-borderless">
                                    <div class="media blog-post-author">
                                        <img alt="Image" src="assets/img/avatar-male-1.jpg" class="avatar avatar-xs" />
                                        <div class="media-body">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>

                    </ul>
                    <!--end of row-->
                    <div class="row justify-content-center">
                        <div class="col-auto">

                        </div>
                        <!--end of col-->
                    </div>
                    <!--end of row-->
                </div>
                <!--end of container-->
            </section>
            <section class="space-lg">
                <div class="container">

                    <!--end of row-->
                    <form>
                        <div class="form-row justify-content-center">
                            <div class="col-auto col-md-5 col-lg-4">
                                <div class="form-group">
                                    <input class="form-control form-control-lg" type="email" name="email" placeholder="Email Address" />
                                    <small>Subscribe and get our weekly newsletter in your inbox</small>
                                </div>
                            </div>
                            <div class="col-auto">
                                <button type="submit" class="btn btn-lg btn-success">Subscribe now</button>
                            </div>
                        </div>
                        <!--end of row-->
                    </form>
                </div>
                <!--end of container-->
            </section>
            <!--end of section-->
        </div>
          {% endblock %}