{% extends 'forexaccess/Base.html' %}
{% load static %}
{% block content %}
        <div class="main-container">
            <nav aria-label="breadcrumb" role="navigation" class="bg-primary text-white">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="index.html">Home</a>
                                </li>
                                <li class="breadcrumb-item"><a href="pages-inner.html">Inner Pages</a>
                                </li>


                                <li class="breadcrumb-item active" aria-current="page">Starting Up - A Candid Documentary</li>
                            </ol>
                        </div>
                        <!--end of col-->
                    </div>
                    <!--end of row-->
                </div>
                <!--end of container-->
            </nav>
            <section class="bg-white">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-12 col-md-10 col-lg-7">
                            <h1 class="display-4">Getting Started</h1>
                            <span class="lead">What it’s really like trying to convert an idea into a business .</span>

                        </div>
                        <!--end of col-->
                    </div>
                    <!--end of row-->
                </div>
                <!--end of container-->
            </section>
            <!--end of section-->

            <img alt="Image" src="{% static 'forex_access/img/photo-man-whiteboard.jpg' %}" class="img-fluid" />
            <section>
                <article class="container">
                    <div class="row justify-content-center">
                        <div class="col-12 col-md-8 col-lg-6">
                            <p>
                               If you’re new to foreign exchange, or forex, as it is commonly known, you’re probably wondering what makes it different from stock exchanges. Forex is both similar and different to stock exchanges. Here are some of the main differences:
                            </p>
                            <p>
                                Unlike the stock market, where money is traded for shares in a company’s stock, Forex is all about trading one type of currency for another. In both markets, you make money by following the same principle: buying low and selling high. However, the forex market differs from the stock market in that going long (betting on a rising price) or short (betting on a falling price) is equally easy.
                            </p>
                            <h5>Here's the thing about that</h5>
                            <p>
                               You may have experience as a forex trader and not even know it: anyone
                                who has traveled to another country and exchanged their home currency for the
                                local currency has traded forex! Of course, the global forex market operates on a much
                                larger scale, involving importers and exporters, multinational corporations,
                                portfolio managers, hedge funds, and speculators.
                                Some of these players are doing business in other countries,
                                some are hedging one currency against another in order to prevent losses,
                                and some are engaged in currency speculation – trying to predict and profit from favorable currency movements
                            </p>
                            <p>
                              The forex market is one of the most exciting and trader-friendly markets in the world. Here are some other useful facts to know if you’d like to become a forex trader.
                            </p>
                            <p>
                                The Forex Market is Huge: Thanks to its sheer size, it is almost impossible for any one person, institution or government to control the forex market for long. At an estimated $3.98 trillion plus, the average daily turnover of the forex market easily trumps that of the New York and London Stock exchanges put together
                            </p>
                             <p>
                                The Forex Market Offers 24/5 Accessibility: Forex trades can be made 24 hours a day, 5 days a week. The market runs non-stop from 20:15 GMT on Sunday until 22:00 GMT on Friday
                            </p>
                            <p>
                                The Forex Market has Unrivaled Liquidity: With its massive scale and 24/5 accessibility, forex is exceptionally liquid, making entering and exiting even very large positions comparatively simple. With massive corporations and central banks trading forex, there’s plenty of room for you, too!
                            </p>
                            <p>
                                There is No Central Control in Forex: Forex has no centralized market or regulatory control. The Internet makes it easy to participate in forex via computers linked to brokers, banks and other traders around the world. Regulation is administered locally wherever banks and brokerages are registered, which means you enjoy the protection of local regulatory authorities without the limitations of central control.
                            </p>
                            <p>
                               Forex Offers Unparalleled Leverage: Forex allows you to make big profits while risking small amounts of money. Here at “ForexAccess” you can trade with leverage as high as 500:1 if you want. But you don’t have to gear your trades that high if you prefer lower levels of risk.
                            </p>
                            <h5>Let's not forget about this</h5>
                            <p>
                            Forex is Open to Everyone: The forex market was once the domain of institutions and wealthy individuals. Thanks to the Internet, all that has changed. You can get started with as little as USD$500 at “ForexAccess”
                            </p>
                        </div>
                        <!--end of col-->
                        <figure class="figure text-center col-12 col-md-10 col-lg-8">
                            <img alt="Image" class="img-fluid figure-img rounded" src="{% static 'forex_access/img/getting_started.png' %}" />
                            <figcaption class="figure-caption">Photo credit: Death To The Stock Photo</figcaption>
                        </figure>
                        <div class="col-12 col-md-8 col-lg-6">

                            <h4>Final words</h4>
                            <p>
                                Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus.
                            </p>
                        </div>
                        <!--end of col-->
                    </div>
                    <!--end of row-->
                </article>
                <!--end of container-->
            </section>
            <!--end of section-->

            <!--end of section-->
            <section>
                <div class="container">
                    <div class="row justify-content-center mb-5">
                        <div class="col-auto">
                            <h3>You might also enjoy</h3>
                        </div>
                        <!--end of col-->
                    </div>
                    <!--end of row-->
                    <ul class="feature-list feature-list-sm row">

                        <li class="col-12 col-md-6 col-lg-4">
                            <div class="card card-lg">
                                <a href="#">
                                    <img class="card-img-top" src="assets/img/photo-man-box.jpg" alt="There is no competition">
                                </a>
                                <div class="card-body">
                                    <a href="#">
                                        <h4 class="card-title mb-3">There is no competition</h4>
                                    </a>
                                    <p class="card-text">A new businesses biggest enemy is feature-envy</p>
                                </div>
                                <div class="card-footer card-footer-borderless">
                                    <div class="media blog-post-author">
                                        <img alt="Image" src="assets/img/avatar-female-1.jpg" class="avatar avatar-xs" />
                                        <div class="media-body">
                                            <small>Rebecca Canning</small>
                                            <small>29th February 2018 &bull; 3 min read</small>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>

                        <li class="col-12 col-md-6 col-lg-4">
                            <div class="card card-lg">
                                <a href="#">
                                    <img class="card-img-top" src="assets/img/photo-man-book.jpg" alt="Best practices in form design">
                                </a>
                                <div class="card-body">
                                    <a href="#">
                                        <h4 class="card-title mb-3">Best practices in form design</h4>
                                    </a>
                                    <p class="card-text">Build forms like a boss</p>
                                </div>
                                <div class="card-footer card-footer-borderless">
                                    <div class="media blog-post-author">
                                        <img alt="Image" src="assets/img/avatar-male-2.jpg" class="avatar avatar-xs" />
                                        <div class="media-body">
                                            <small>Luke Freebody</small>
                                            <small>24th February 2018 &bull; 2 min read</small>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>

                        <li class="col-12 col-md-6 col-lg-4">
                            <div class="card card-lg">
                                <a href="#">
                                    <img class="card-img-top" src="assets/img/photo-woman-sand.jpg" alt="Tales from my first design sprint">
                                </a>
                                <div class="card-body">
                                    <a href="#">
                                        <h4 class="card-title mb-3">Tales from my first design sprint</h4>
                                    </a>
                                    <p class="card-text">Let's just say it was more of a lite-stroll.</p>
                                </div>
                                <div class="card-footer card-footer-borderless">
                                    <div class="media blog-post-author">
                                        <img alt="Image" src="assets/img/avatar-male-3.jpg" class="avatar avatar-xs" />
                                        <div class="media-body">
                                            <small>Mark Clinton</small>
                                            <small>21st February 2018 &bull; 6 min read</small>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>

                    </ul>
                    <!--end of row-->
                </div>
                <!--end of container-->
            </section>
            <!--end of section-->

        </div>
{% endblock %}