{% extends 'forexaccess/Base.html' %}
{% load static %}


{% block content %}
        <div class="main-container">


            <!--end of section-->
            <section>
                <div class="container">
                    <div class="row justify-content-center text-center section-intro">
                        <div class="col-12 col-md-9 col-lg-8">
                            <span class="title-decorative">Perfect for Investors</span>
                            <h2 class="display-4">Investment With Forex Access</h2>
                            <span class="lead">An opportunity to introduce the major benefits of Forex Access and set the Foundation </span>

                        </div>
                        <!--end of col-->
                    </div>
                    <!--end of row-->
                    <ul class="feature-list feature-list-lg">
                        <li class="row justify-content-around align-items-center">
                            <div class="col-12 col-md-6 col-lg-5">
                                <img alt="Image" src="{% static 'forex_access/img/graphic-product-kin.jpg' %}" class="img-fluid rounded" />
                            </div>
                            <!--end of col-->
                            <div class="col-12 col-md-6 col-lg-5">
                                <h5>Self-Investing</h5>
                                <p>
                                   Whether you wish to profit directly from movements in FX or simply invest internationally across asset classes, the forex market touches upon everything you do as an investor. Trading Forex through ForexAccess, you have the firepower of a leading financial technology company and the reliability of a regulated broker working for you, hand in hand.
                                </p>
                            </div>
                            <!--end of col-->
                        </li>
                        <li class="row justify-content-around align-items-center">
                            <div class="col-12 col-md-6 col-lg-5">
                                <img alt="Image" src="{% static 'forex_access/img/graphic-product-paydar.jpg' %}" class="img-fluid rounded" />
                            </div>
                            <!--end of col-->
                            <div class="col-12 col-md-6 col-lg-5">
                                <h5>Bespoke Investing</h5>
                                <p>
                                    We focus on cutting-edge strategies that deliver superior risk-adjusted returns by partnering with high performing teams who bring significant domain expertise and a strong track record. Our portfolios bring to you an industry investment growth opportunities and reduced investment risk, through the diversification of the portfolio. We offer dedicated bespoke funds with optimal structures and strategies to suit our client’s specific objectives.

                                    ForexAccess multiple proprietary trading models provide the opportunity to diversify and manage risk in your trading portfolio. Trade one or diversify to better manage risk.
                                </p>
                            </div>
                            <!--end of col-->
                        </li>

                    </ul>
                </div>
                <!--end of container-->
            </section>
            <!--end of section-->
            <section>
                <div class="container">
                    <div class="row justify-content-center text-center section-intro">
                        <div class="col-12 col-md-9 col-lg-8">
                            <span class="title-decorative">Perfect for Investors</span>
                            <span class="lead">An opportunity to introduce the major benefits of your product and set the scene for what's to come</span>

                        </div>
                        <!--end of col-->
                    </div>
                    <!--end of row-->
                    <div class="row justify-content-center mb-5">
                        <div class="col-12 text-center">
                            <img alt="Image" src="{% static 'forex_access/img/graphic-developer-bootstrap.png' %}" class="avatar avatar-lg" />
                            <img alt="Image" src="{% static 'forex_access/img/graphic-developer-gulp.png' %}" class="avatar avatar-lg" />
                            <img alt="Image" src="assets/img/graphic-developer-sass.png" class="avatar avatar-lg" />
                            <img alt="Image" src="assets/img/graphic-developer-html5.png" class="avatar avatar-lg" />
                        </div>
                        <!--end of col-->
                    </div>
                    <!--end of row-->
                    <div class="row justify-content-center">
                        <div class="col-12 col-md-8 col-lg-6">
                            <div class="accordion" id="accordion-1" data-children=".accordion-item">
                                <div class="accordion-item">
                                    <a data-toggle="collapse" data-parent="#accordion-1" href="#accordion-panel-1" aria-expanded="true" aria-controls="accordion-1">
                                        <h5>Features and Advantages</h5>
                                        <i class="h5 icon-chevron-small-right"></i>
                                    </a>
                                    <div id="accordion-panel-1" class="collapse show" role="tabpanel">
                                        <p>
                                            Funds managed by professional fund managers using sophisticated manumatic trading strategies
                                        </p>
                                    </div>
                                </div>
                                <div class="accordion-item">
                                    <a data-toggle="collapse" data-parent="#accordion-1" href="#accordion-panel-2" aria-expanded="false" aria-controls="accordion-1">
                                        <h5>Item one</h5>
                                        <i class="h5 icon-chevron-small-right"></i>
                                    </a>
                                    <div id="accordion-panel-2" class="collapse" role="tabpanel">
                                        <p>
                                            Personalized attention by professional fund managers.
                                        </p>
                                    </div>
                                </div>
                                <div class="accordion-item">
                                    <a data-toggle="collapse" data-parent="#accordion-1" href="#accordion-panel-3" aria-expanded="false" aria-controls="accordion-1">
                                        <h5>Item Two</h5>
                                        <i class="h5 icon-chevron-small-right"></i>
                                    </a>
                                    <div id="accordion-panel-3" class="collapse" role="tabpanel">
                                        <p>
                                            Daily and monthly email report sent by ForexAccess to your email.
                                        </p>
                                    </div>
                                </div>
                                <div class="accordion-item">
                                    <a data-toggle="collapse" data-parent="#accordion-1" href="#accordion-panel-4" aria-expanded="false" aria-controls="accordion-1">
                                        <h5>Item Three</h5>
                                        <i class="h5 icon-chevron-small-right"></i>
                                    </a>
                                    <div id="accordion-panel-4" class="collapse" role="tabpanel">
                                        <p>
                                            Trading on volatile market.
                                        </p>
                                    </div>
                                </div>
                                <div class="accordion-item">
                                    <a data-toggle="collapse" data-parent="#accordion-1" href="#accordion-panel-5" aria-expanded="false" aria-controls="accordion-1">
                                        <h5>Item Five</h5>
                                        <i class="h5 icon-chevron-small-right"></i>
                                    </a>
                                    <div id="accordion-panel-5" class="collapse" role="tabpanel">
                                        <p>
                                            Absolutely flexible funds deposit, funds redemption/ withdrawals at any time after initial 120days.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--end of col-->
                    </div>
                    <!--end of row-->
                </div>
                <!--end of container-->
            </section>
            <!--end of section-->
            <section class="bg-white fullwidth-split">
                <div class="container-fluid">
                    <div class="row no-gutters">
                        <div class="col-12 col-sm-5 col-lg-6 order-sm-2 fullwidth-split-image d-sm-flex align-items-center">
                            <img alt="Image" src="assets/img/photo-man-whiteboard.jpg" class="bg-image" />
                        </div>
                        <!--end of col-->
                        <div class="col-12 col-sm-7 col-lg-6 order-sm-1 fullwidth-split-text">
                            <div class="col-12 col-sm-8">
                                <span class="title-decorative">Ready for Enterprise</span>
                                <h3 class="display-4">Forex Access Prestige</h3>
                                <span class="lead">
                                    ForexAccess Prestige is a group trading account (PAMM/MAM account). PAMM/MAM account is a system consists of one or more investors’ accounts which are managed by Proven and Tested Fund Managers
                                </span>
                                <a href="#" class="btn btn-outline-primary btn-lg">Tell me more</a>
                            </div>
                        </div>
                        <!--end of col-->
                    </div>
                    <!--end of row-->
                </div>
                <!--end of container-->
            </section>
            <!--end of section-->
        </div>
{% endblock %}