{% extends 'forexaccess/Base.html' %}

{% block content %}

    {% load static %}

        <div class="nav-container">
        </div>
    <br>
    <br>
        <div class="main-container">
            <section class="space-sm">
                <div class="container">
                    <div class="row mb-5">
                        <div class="col text-center">
                            <a href="index.html">
                                <img alt="Image" src="{% static 'forex_access/img/logo.png' %}" />
                            </a>
                        </div>
                        <!--end of col-->
                    </div>
                    <!--end of row-->
                    <nav aria-label="breadcrumb" role="navigation">
                        <div class="container">
                            <div class="row justify-content-center">
                                <div class="col">
                                    <ol class="breadcrumb">
                                        <li class="breadcrumb-item"><a href="{% url 'index' %}">Home</a>
                                        </li>

                                    </ol>
                                </div>
                                <!--end of col-->
                            </div>
                            <!--end of row-->
                        </div>
                        <!--end of container-->
                    </nav>
                    <div class="row flex-md-row card card-lg">
                        <div class="col-12 col-md-7 card-body bg-secondary">
                            <div class="text-center mb-5">
                                <h1 class="h2 mb-2">Open Live Account</h1>
                            </div>
                            <div class="row justify-content-center">
                                <div class="col-12 col-lg-9">
                                    <form method="post" action="{% url 'register' %}">
                                        {% csrf_token %}
                                        <div class="form-row form-group">
                                            <div class="col">
                                                <input class="form-control form-control-lg" type="text" id="{{ form.first_name.id_for_label }}" placeholder="First Name" />
                                            </div>
                                            <div class="col">
                                                <input class="form-control form-control-lg" type="text" id="{{ form.last_name.id_for_label }}" placeholder="Last Name" />
                                                {{ form.last_name.errors }}
                                            </div>
                                        </div>
                                        <div class="form-row form-group">
                                            <div class="col">
                                                <input class="form-control form-control-lg" type="text" name="{{ form.email.html_name }}" id="{{ form.email.id_for_label }}" placeholder="Email Address" />
                                                {{ form.email.errors }}
                                            </div>
                                        </div>
                                        <div class="form-row form-group">
                                                <div class="col">
                                                    <label for="">Country</label>
                                                    <select name="ib_year_of_exprience" class="form-control form-control-lg" placeholder="Years of experience">

                                                        </select>
                                                </div>
                                        </div>
                                        <div class="form-row form-group">
                                            <div class="col">
                                               <input class="form-control form-control-lg" type="text" name="City" id="City" placeholder="City" />

                                            </div>
                                        </div>
                                        <div class="form-row form-group">
                                            <div class="col">
                                               <input class="form-control form-control-lg" type="text" name="phone number" id="phNum" placeholder="Phone Number" />

                                            </div>
                                        </div>
                                         <div class="form-row form-group">
                                            <div class="col">
                                               <input class="form-control form-control-lg" type="text" name="" id="" placeholder="Affiliated Code" />
                                                {{ form.username.errors }}
                                            </div>
                                        </div>
                                         <div>
                                            <label>Interested in becoming an IB? </label>
                                             <input type="checkbox" name="payment_type" id="debit">
                                            <div class="disform details form-row form-group">
                                                <div class="col">
                                                  <input class="form-control form-control-lg" type="password" name="Company Name" id="" placeholder="Company Name" />
                                                </div>
                                                <div class="col">
                                                    <label for="">Years of Experience</label>
                                                    <select name="ib_year_of_exprience" class="form-control form-control-lg" placeholder="Years of experience">
                                                         <option value="1-3">1 - 3</option>
                                                         <option value="3-5">3 - 5</option>
                                                         <option value="More than 5">More than 5</option>
                                                        </select>
                                                </div>
                                                <br>
                                                <div class="col">
                                                  <input class="form-control form-control-lg" type="text" name="Company Name" id="" placeholder="Average volume Per Month" />
                                                </div>
                                                <br>
                                                <div class="col">
                                                  <input class="form-control form-control-lg" type="text" name="Company Name" id="" placeholder="Number of Existing Clients" />
                                                </div>
                                        </div>
                                        </div>
                                        <div class="form-row form-group">
                                            <div class="col">
                                                <button class="btn btn-block btn-success btn-lg" type="submit">Create Account</button>
                                            </div>
                                        </div>
                                        <div class="text-center">
                                            <span class="text-small text-muted">By clicking 'Create Account' you agree to our <a href="#">Terms</a>, <a href="#">Privacy Policy</a>&nbsp;and <a href="#">Security Policy</a>
                                            </span>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <!--end of col-->
                        <div class="col-12 col-md-5 card-body">
                            <div>
                                <div class="mb-5 text-center">
                                    <h3 class="h2 mb-2">Features &amp; Benefits</h3>
                                </div>
                                <ul class="list-unstyled list-spacing-sm mb-5 ">
                                    <li class="row">
                                        <div class="col-2 col-md-1"><i class="icon-check h5 text-muted"></i>
                                        </div>
                                        <div class="col-10">Your ability to earn with the help of an experienced Account Managers starts with you opening your investment profile.
                                            Registration takes only a few minutes and will allow you to access the Forex market and invest funds.
                                        </div>
                                    </li>
                                    <li class="row align-items-center">
                                      <h5>FOR BEGINNERS</h5>
                                        <div class="col-10">
                                            <ul>
                                            <li>Free training</li>
                                            <li>Personal manager</li>
                                            <li>Easy registration</li>
                                            </ul>
                                        </div>
                                    </li>
                                    <li class="row">
                                      <h5>FOR EXPERIENCED TRADERS</h5>
                                        <div class="col-10">
                                            <ul>
                                                <li>Best spreads. Min 0.4 points</li>
                                                <li>High leverage</li>
                                                <li>Trusted trading platform</li>
                                            </ul>
                                        </div>
                                    </li>
                                    <li class="row align-items-center">
                                        <h5>FOR PARTNERS
                                        <small>Best Partnership Condition</small>
                                        </h5>
                                        <div class="col-10">
                                            <ul>
                                                <li>Up to 40% revenue share</li>
                                                <li>Up to 2.5pips Markup</li>
                                                <li>Up to $500 CPA</li>
                                            </ul>
                                        </div>
                                    </li>
                                </ul>

                                <div class="card card-sm shadow text-left">
                                    <div class="card-body p-4">
                                        <div class="media">
                                            <img alt="Image" src="{% static 'forex_access/img/Icon-Register.png' %}" class="avatar avatar-xs" />
                                            <div class="media-body">
                                                <p class="mb-1 text-small">
                                                    “Register now and start enjoying forex trading online”
                                                </p>
                                                <small>Forex Access</small>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <!--end of col-->
                    </div>
                    <!--end of row-->
                    <div class="text-center">
                        <span class="text-small">Already have an account? <a href="{% url 'login' %}">Log in here</a>
                        </span>
                    </div>
                </div>
                <!--end of container-->
            </section>
            <!--end of section-->
        </div>



    {% endblock %}