{% extends 'forexaccess/Base.html' %}

{% block content %}

        <div class="nav-container">
        </div>
        <div class="main-container">
            <section class="space-sm">
                <div class="container">
                    <div class="row mb-5">
                        <div class="col text-center">
                            <a href="index.html">
                                <img alt="Image" src="assets/img/logo-gray.svg" />
                            </a>
                        </div>
                        <!--end of col-->
                    </div>
                    <!--end of row-->
                    <nav aria-label="breadcrumb" role="navigation">
                        <div class="container">
                            <div class="row justify-content-center">
                                <div class="col">
                                    <ol class="breadcrumb">
                                        <li class="breadcrumb-item"><a href="{% url 'index' %}">Home</a>
                                        </li>

                                    </ol>
                                </div>
                                <!--end of col-->
                            </div>
                            <!--end of row-->
                        </div>
                        <!--end of container-->
                    </nav>
                    <div class="row flex-md-row card card-lg">
                        <div class="col-12 col-md-7 card-body bg-secondary">
                            <div class="text-center mb-5">
                                <h1 class="h2 mb-2">You are about to Open your Unique MT4 Trading Account</h1>
                            </div>
                            <div class="row justify-content-center">
                                <div class="col-12 col-lg-9">
                                {{  form.non_field_errors }}
                                    <form method="post" action="{% url 'register' %}">
                                        {% csrf_token %}
                                        {% if form.errors %}
                                            <p>There are errors in the form </p>
                                        {% endif %}
                                        <div class="form-row form-group">
                                            <div class="col">
                                               <input class="form-control form-control-lg" type="text" name="{{ form.username.html_name }}" id="{{ form.username.id_for_label }}" placeholder="username" />
                                                {{ form.username.errors }}
                                            </div>
                                        </div>
                                        <div class="form-row form-group">
                                            <div class="col">
                                                <input class="form-control form-control-lg" type="text" id="{{ form.first_name.id_for_label }}" placeholder="First Name" />
                                                {{ form.first_name.errors }}
                                            </div>
                                            <div class="col">
                                                <input class="form-control form-control-lg" type="text" id="{{ form.last_name.id_for_label }}" placeholder="Last Name" />
                                                {{ form.last_name.errors }}
                                            </div>
                                        </div>
                                        <div class="form-row form-group">
                                            <div class="col">
                                                <input class="form-control form-control-lg" type="text" name="{{ form.email.html_name }}" id="{{ form.email.id_for_label }}" placeholder="Email Address" />
                                                {{ form.email.errors }}
                                            </div>
                                        </div>
                                        <div class="form-row form-group">
                                            <div class="col">
                                                <input class="form-control form-control-lg" type="password" name="{{ form.password1.html_name }}" id="{{ form.password1.id_for_label }}" placeholder="Password" />
                                                {{ form.password1.errors }}
                                                <small>{{ form.password1.help_text }}</small>
                                            </div>
                                        </div>
                                     <div class="form-row form-group">
                                            <div class="col">
                                              <input class="form-control form-control-lg" type="password" name="{{ form.password2.html_name }}" id="{{ form.password2.id_for_label }}" placeholder="Confirm Password" />
                                                {{ form.password2.errors }}
                                                <small>It Must Match the first Password</small>
                                            </div>
                                        </div>
                                        <div class="form-row form-group">
                                            <div class="col">
                                                <button class="btn btn-block btn-success btn-lg" type="submit">Create Account</button>
                                            </div>
                                        </div>
                                        <div class="text-center">
                                            <span class="text-small text-muted">By clicking 'Create Account' you agree to our <a href="#">Terms</a>, <a href="#">Privacy Policy</a>&nbsp;and <a href="#">Security Policy</a>
                                            </span>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <!--end of col-->
                        <div class="col-12 col-md-5 card-body">
                            <div>
                                <div class="mb-5 text-center">
                                    <h3 class="h2 mb-2">Features &amp; Benefits</h3>
                                </div>
                                <ul class="list-unstyled list-spacing-sm mb-5 ">
                                    <li class="row">
                                        <div class="col-2 col-md-1"><i class="icon-check h5 text-muted"></i>
                                        </div>
                                        <div class="col-10">Your ability to earn with the help of an experienced Account Managers starts with you opening your investment profile.
                                            Registration takes only a few minutes and will allow you to access the Forex market and invest funds.
                                        </div>
                                    </li>
                                    <li class="row align-items-center">
                                      <h5>FOR BEGINNERS</h5>
                                        <div class="col-10">
                                            <ul>
                                            <li>Free training</li>
                                            <li>Personal manager</li>
                                            <li>Easy registration</li>
                                            </ul>
                                        </div>
                                    </li>
                                    <li class="row">
                                      <h5>FOR EXPERIENCED TRADERS</h5>
                                        <div class="col-10">
                                            <ul>
                                                <li>Best spreads. Min 0.4 points</li>
                                                <li>High leverage</li>
                                                <li>Trusted trading platform</li>
                                            </ul>
                                        </div>
                                    </li>
                                    <li class="row align-items-center">
                                        <h5>FOR PARTNERS 
                                        <small>Best Partnership Condition</small>
                                        </h5>
                                        <div class="col-10">
                                            <ul>
                                                <li>Up to 40% revenue share</li>
                                                <li>Up to 2.5pips Markup</li>
                                                <li>Up to $500 CPA</li>
                                            </ul>
                                        </div>
                                    </li>
                                </ul>

                                <div class="card card-sm shadow text-left">
                                    <div class="card-body p-4">
                                        <div class="media">
                                            <img alt="Image" src="assets/img/avatar-male-1.jpg" class="avatar avatar-xs" />
                                            <div class="media-body">
                                                <p class="mb-1 text-small">
                                                    “Let’s get one thing straight, this theme’s a straight-up winner. No posers here, just beautiful design and code.”
                                                </p>
                                                <small>Daniel Cameron</small>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <!--end of col-->
                    </div>
                    <!--end of row-->
                    <div class="text-center">
                        <span class="text-small">Already have an account? <a href="{% url 'login' %}">Log in here</a>
                        </span>
                    </div>
                </div>
                <!--end of container-->
            </section>
            <!--end of section-->
        </div>



    {% endblock %}